@use "@core-scss/base/mixins";

.layout-wrapper.layout-nav-type-vertical {
  @media (min-width: 768px) {
    .layout-vertical-nav {
      // border-radius: 6px;
      // inset-block-start: 1rem;
      // inset-inline-start: 1rem;
      // block-size: calc(100% - 1.3rem);
      // inline-size: 245px;
    }
  }
  // 👉 Layout footer
  .layout-footer {
    $ele-layout-footer: &;

    inset-block-end: 0.4rem;
    .footer-content-container {
      border-radius: 6px;
      // Sticky footer
      @at-root {
        // ℹ️ .layout-footer-sticky#{$ele-layout-footer} => .layout-footer-sticky.layout-wrapper.layout-nav-type-vertical .layout-footer
        .layout-footer-sticky#{$ele-layout-footer} {
          .footer-content-container {
            @include mixins.elevation(2);
          }
        }
      }
    }
  }
}
