// Write your overrides

.speed-dial-enter-active,
.speed-dial-leave-active {
    transition: opacity 0.3s, transform 0.35s;
}

.speed-dial-enter-from {
    opacity: 0;
    transform: translateY(0.6rem);
}

.speed-dial-leave-to {
    opacity: 0;
    transform: translateY(0.6rem);
}
.speed-dial-left-enter-active,
.speed-dial-left-leave-active {
    transition: opacity 0.3s, transform 0.35s;
}

.speed-dial-left-enter-from {
    opacity: 0;
    transform: translateX(0.6rem);
}

.speed-dial-left-leave-to {
    opacity: 0;
    transform: translateX(0.6rem);
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.623), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
